html
  head
    title= title
  body
    if lastCacheError
      h1=lastCacheError
    ul
        li
          a(href="/category/46145")="Living Room Set"
        li
          a(href="/category/1868409")="TV Stands"
        li
          a(href="/category/413893")="Sectionals"
        li
          a(href="/refresh")="Rebuild Cache"

    ul
      if data
        each val in data
          li
            a(href=val.url)= val.url
      else
        li='There are no values'
    div
      div=(new Date().toJSON())
      div=context.lastCacheDate
      div=context.lastCacheError