html
  head
    title= title
  body
    ul
      li
        a(href="/category/46145")="Living Room Set"
      li
        a(href="/category/1868409")="TV Stands"
      li
        a(href="/category/413893")="Sectionals"
      li
        a(href="/refresh")="Rebuild Cache"

    if data
      h1= "Rebuild cache is already in progress"
    else 
      h1= "Rebuild cache scheduled"